<%= div_for comment do %>
<h4>
	<%= comment.name %> &lt;<%= comment.email %>&gt; disse:
	<% if @article.owned_by? current_user %>
	<span class='actions'>
	<br>
		<%= link_to 'Excluir', [@article, comment],
	confirm: 'Tem certeza que quer excluir?', method: :delete, :class => 'button small alert right' %>
	</span>
	<% end %>
</h4>
<%= comment.body %>
<% end %> 