<%= simple_form_for([@article, @article.comments.new]) do |f| %>
<div class="field">
	<%= f.label 'Nome:' %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label 'E-mail:' %><br />
	<%= f.text_field :email %>
</div>
<div class="field">
	<%= f.label 'Comentário:' %><br />
	<%= f.text_area :body %>
</div>
<div class="actions">
	<%= f.submit 'Adicionar', :class => 'button small default' %>
</div>
<% end %>