<div class="row">
	<div class="large-12 large-centered columns">
		<%= render @article %>
		<h5><i>Compartilhe</i></h5>
	
		<%= facebook_button %>
		
	<%= render_shareable :static_link => true, :facebook=> {:send=> 'true'}  %>
		
	
		<br>
		<%= link_to 'Enviar a um amigo', '#',
:onclick => "$('#notify_friend_form').slideDown()" %>
		<br>
		<%= render 'notify_friend' %>
		<br>
		<h3>Comentários</h3>
		<br>
		<div id="comments">
			<%= render @article.comments %>
		</div>
		<hr>
		<br>
		<%= link_to "Comentar", new_article_comment_path(@article, :format => :js),
:remote => true, :id => 'new_comment_link', :class => 'button small primary' %>

	</div>

	<%= @article.user.email %>

</div>